@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}


/**************** Custom Properties *******************/

:root {
    /*Palete Colors*/
    /*Primary Color Variants*/
    --PCV_700: #102240;
    --PCV_500: #1B396A;
    --PCV_200: #A4B0C3;
    /*Secondary Color Variants*/
    --SCV_700: #916F09;
    --SCV_500: #F2B90F;
    --SCV_200: #FAE39F;
    /*Tertiary Color Variants*/
    --TCV_700: #046531;
    --TCV_500: #06A852;
    --TCV_200: #9BDCBA;
    /*Success Color Variants */
    --SUCV_700: #106732;
    --SUCV_500: #1AAC54;
    --SUCV_200: #A3DEBB;
    /*Warning Color Variants*/
    --WCV_700: #685B04;
    --WCV_500: #AD9706;
    --WCV_200: #DED59B;
    /*Error Color Variants*/
    --ECV_700: #5C0B29;
    --ECV_500: #991344;
    --ECV_200: #D6A1B4;
    /*Info Color Variants*/
    --ICV_700: #0D3069;
    --ICV_500: #1550AF;
    --ICV_200: #A1B9DF;
    /*Gray Color Variants*/
    --GCV_900: #616569;
    --GCV_700: #92979D;
    --GCV_500: #C2C9D1;
    --GCV_200: #E1E4E8;
    /*Black Colors Variants*/
    --BCV_700: #0C0F17;
    --BCV_500: #141927;
    --BCV_200: #A1A3A9;
    /*White Color Variants*/
    --WHCV_700: #959595;
    --WHCV_500: #F9F9F9;
    --WHCV_200: #FDFDFD;
    --font_headlines: 'Open Sans', sans-serif;
    --font_body: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    height: 650px;
    border: 1px solid red;
}

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px;
    column-gap: 20px;
    width: 100%;
    height: 100%;
}

.img-source {
    width: 2rem;
    height: 2rem;
}

.filtros-1 {
    grid-column: 2/12;
    height: 100px;
    background-color: var(--WHCV_500);
    margin-top: 20px;
    border: 1px dashed blue;
    /* Display */
    display: flex;
    justify-content: start;
    align-items: center;
}

.badge-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 4px 8px;
    width: 209px;
    height: 40px;
    /* Primary-200 */
    background: var(--PCV_200);
    /* Primary-500 */
    border: 1px solid var(--PCV_500);
    box-sizing: border-box;
    border-radius: 8px;
    /*  */
    margin-left: 28px;
}

._8left {
    margin-left: 8px;
}

.badge-item sub {
    /* Subtitle 1 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    /* BShades-500 */
    color: var(--BCV_500);
}


/* Fielshield */

.fieldset {
    grid-column: 2/10;
    height: 260px;
    /* WShades-500 */
    background: var(--WHCV_500);
    /* BShades-500 */
    border: 2px solid var(--BCV_500);
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 0px;
}

.lenged1 {
    width: 240px;
    height: 49px;
    /* Secondary-500 */
    background-color: #F2B90F;
    /* WShades-500 */
    border: 2px solid #F9F9F9;
    border-radius: 8px;
    margin-left: -5px;
    margin-top: -5px;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lenged1 h5 {
    /* H5 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    /* BShades-500 */
    color: var(--BCV_500);
}

.contenido-filtros {
    width: 1020px;
    height: 129px;
    margin: 42px 30px 40px 31px;
    /*  */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px solid black; */
}

.row-filter {
    width: 100%;
    height: 40px;
    /*  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px dashed red; */
}

.select-1 {
    width: 209px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px 4px 16px;
    /* WShades-500 */
    background: var(--WHCV_500);
    /* Primary-500 */
    border: 1px solid #1B396A;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-filter {
    height: 40px;
    width: 445px;
    border: 1px solid var(--PCV_500);
    background-color: var(--WHCV_500);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    /*  */
    /* Body 2 */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.25px;
    /* Danger-500 */
    color: #991344;
}

.botones-filter {
    width: 100%;
    height: 49px;
    /*  */
    display: flex;
    justify-content: space-between;
    /* border: 1px dashed blue; */
}

.button-reset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    width: 211px;
    height: 48px;
    /* BShades-500 */
    border: 2px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
    /* Letras  */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: var(--BCV_500);
}

.button-save {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    width: 180px;
    height: 48px;
    /* Secondary-500 */
    background: var(--SCV_500);
    /* BShades-500 */
    border: 1px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
    /* Letra */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: var(--BCV_500);
}