.content-main {
    height: 1870px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label {
    cursor: pointer;
}

.label::before {
    content: '';
    width: 32px;
    height: 32px;
    /* WShades-500 */
    background-color: var(--WHCV_500);
    /* BShades-500 */
    border: 1px solid var(--BCV_500);
    box-sizing: border-box;
    border-radius: 4px;
    /* display: inline-block; */
    margin-right: 60px;
}

input[type=checkbox]:checked+label::before {
    content: '';
    width: 33px;
    height: 33px;
    /* WShades-500 */
    background: var(--PCV_500);
    /* BShades-500 */
    border: 1px solid var(--BCV_500);
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    margin-right: 60px;
}


/* h6  and label*/

h6 {
    /* H6 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: start;
    letter-spacing: 0.15px;
    /* BShades-500 */
    color: #141927;
    margin-left: 0px;
}


/* --text area --*/

textarea {
    /* WShades-500 */
    background-color: var(--WHCV_500);
    /* Primary-500 */
    border: 1px solid #1B396A;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 24px;
    width: 100%;
    /* Body 2 */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
    /* Info-500 */
    color: #1550AF;
}


/* Colum10 */

.colum-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
    height: 97%;
}


/* fieldset */

.fieldset {
    grid-column: 2/12;
    height: 1312px;
    /* WShades-500 */
    background: var(--WHCV_500);
    /* BShades-500 */
    border: 2px solid var(--BCV_500);
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 0px;
}

.lenged1 {
    width: 335px;
    height: 49px;
    /* Secondary-500 */
    background-color: var(--SCV_500);
    /* WShades-500 */
    border: 2px solid var(--WHCV_500);
    border-radius: 8px;
    margin-left: -5px;
    margin-top: -5px;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lenged1 h5 {
    /* H5 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    /* BShades-500 */
    color: var(--BCV_500);
}


/* --Keywords-- */

.keywords {
    grid-column: 2/7;
    height: 412px;
    margin-top: 4rem;
    /* border: 1px dashed darkblue; */
}

.keywords .input-add {
    width: 100%;
    height: 61px;
    margin-top: 24px;
    /*  */
    display: flex;
    justify-content: space-between;
    /* border: 1px dashed red; */
}

.input-add .item-input {
    width: 453px;
    height: 100%;
    /* border: 1px solid darkcyan; */
}

.input-add .item-input input {
    width: 100%;
    height: 40px;
    /* WShades-500 */
    background: #F9F9F9;
    /* Primary-500 */
    border: 1px solid #1B396A;
    box-sizing: border-box;
    border-radius: 8px;
    /* Body 1 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.5px;
    /* Text Color */
    color: #1A1A1A;
}

.input-add .item-add {
    width: 2rem;
    height: 2rem;
    /* border: 1px solid darkcyan; */
}

.list-keyw {
    width: 100%;
    height: 192px;
    margin-top: 20px;
    padding-left: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.list-keyw label {
    width: 100%;
    /* Body 1 */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    /* BShades-500 */
    color: #141927;
}

.keywords button {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    width: 340px;
    height: 64px;
    /* Danger-500 */
    background: var(--ECV_500);
    /* BShades-500 */
    border: 1px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 24px;
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* WShades-500 */
    color: var(--WHCV_500);
}


/* --Resumen-- */

.resumen {
    grid-column: 2/6;
    height: 251px;
    margin-top: 80px;
    /* border: 1px dashed darkblue; */
}


/* --patrocinadores-- */

.patrocinadores {
    grid-column: 6/10;
    height: 251px;
    margin-top: 80px;
    /* border: 1px dashed darkblue; */
}


/* --Descripcion-- */

.descripcion {
    grid-column: 2/6;
    height: 251px;
    margin-top: 80px;
    /* border: 1px dashed darkblue; */
}


/* --buttons-- */

.buttons {
    grid-column: 2/12;
    height: 64px;
    margin-top: 0px;
    /*  */
    display: flex;
    justify-content: space-between;
    /* border: 1px dashed red; */
}

.buttons .back {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    position: static;
    width: 200px;
    height: 64px;
    /* Secondary-500 */
    background-color: var(--SCV_500);
    /* BShades-500 */
    border: 1px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
}

.buttons .back a {
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: #141927;
}

.buttons .save-exit {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    position: static;
    width: 269px;
    height: 64px;
    /* BShades-500 */
    border: 2px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: #141927;
}

.buttons .next {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    position: static;
    width: 199px;
    height: 64px;
    /* Primary-500 */
    background: #1B396A;
    /* BShades-500 */
    border: 1px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
}

.next a {
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: var(--WHCV_500);
}


/* ------------------------------ */

main {
    height: 100%;
    /* border: 1px solid red; */
}

.steps {
    grid-column: 3/11;
    height: 94px;
    margin-top: 0px;
    /*  */
    display: flex;
    justify-content: space-between;
    /* border: 1px dashed darkblue; */
}

.step {
    width: auto;
    height: 100%;
    /* border: 1px solid red; */
    background-color: var(--WHC_500);
    /* margin-right: 39.5px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.step .item-step {
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: 16px;
    /* Info-200 */
    background-color: #A1B9DF;
    /* BShades-500 */
    border: 3px solid #141927;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.step .item-select {
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: 16px;
    /* Info-200 */
    background-color: vra(--WHCV_500);
    /* BShades-500 */
    border: 3px solid #1550AF;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.step .item-step h4,
.step .item-select h4 {
    /* H4 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 46px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    /* BShades-500 */
    color: #141927;
}

.step p {
    /* Subtitle 1 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.15px;
    /* BShades-500 */
    color: #141927;
}

.step .des-s {
    /* Subtitle 1 */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.15px;
    /* Info-200 */
    color: #A1B9DF;
}

.step1:after {
    content: '';
    width: 91px;
    margin-left: 156px;
    height: 4px;
    background-color: var(--ICV_500);
    position: absolute;
    margin-top: 30px;
}

.step1 .item-done {
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: 16px;
    /* Info-200 */
    background-color: vra(--WHCV_500);
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ICV_500);
}

.step1 .item-done h4 {
    color: var(--WHCV_500);
}

.step2:after {
    content: '';
    width: 73px;
    margin-left: 137px;
    height: 4px;
    background-color: #A1B9DF;
    /* background-color: red; */
    position: absolute;
    margin-top: 30px;
}

.step3:after {
    content: '';
    width: 55px;
    margin-left: 118px;
    height: 4px;
    background-color: #A1B9DF;
    /* background-color: red; */
    position: absolute;
    margin-top: 30px;
}

.step4:after {
    content: '';
    width: 54px;
    margin-left: 118px;
    height: 4px;
    background-color: #A1B9DF;
    /* background-color: red; */
    position: absolute;
    margin-top: 30px;
}

.step5:after,
.step6:after {
    content: '';
    width: 64px;
    margin-left: 128px;
    height: 4px;
    background-color: #A1B9DF;
    /* background-color: red; */
    position: absolute;
    margin-top: 30px;
}

.step .des-done {
    /* Info-500 */
    color: var(--ICV_500);
}