@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}


/**************** Custom Properties *******************/

:root {
    /*Palete Colors*/
    /*Primary Color Variants*/
    --PCV_700: #102240;
    --PCV_500: #1B396A;
    --PCV_200: #A4B0C3;
    /*Secondary Color Variants*/
    --SCV_700: #916F09;
    --SCV_500: #F2B90F;
    --SCV_200: #FAE39F;
    /*Tertiary Color Variants*/
    --TCV_700: #046531;
    --TCV_500: #06A852;
    --TCV_200: #9BDCBA;
    /*Success Color Variants */
    --SUCV_700: #106732;
    --SUCV_500: #1AAC54;
    --SUCV_200: #A3DEBB;
    /*Warning Color Variants*/
    --WCV_700: #685B04;
    --WCV_500: #AD9706;
    --WCV_200: #DED59B;
    /*Error Color Variants*/
    --ECV_700: #5C0B29;
    --ECV_500: #991344;
    --ECV_200: #D6A1B4;
    /*Info Color Variants*/
    --ICV_700: #0D3069;
    --ICV_500: #1550AF;
    --ICV_200: #A1B9DF;
    /*Gray Color Variants*/
    --GCV_900: #616569;
    --GCV_700: #92979D;
    --GCV_500: #C2C9D1;
    --GCV_200: #E1E4E8;
    /*Black Colors Variants*/
    --BCV_700: #0C0F17;
    --BCV_500: #141927;
    --BCV_200: #A1A3A9;
    --BCV_400: #434752;
    /*White Color Variants*/
    --WHCV_700: #959595;
    --WHCV_500: #F9F9F9;
    --WHCV_200: #FDFDFD;
    --font_headlines: 'Open Sans', sans-serif;
    --font_body: 'Montserrat', sans-serif;
    --transition-effects: color 1s ease, background-color 1s ease;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--WHCV_500);
    transition: var(--transition-effects);
    -webkit-transition: var(--transition-effects);
    -moz-transition: var(--transition-effects);
    -ms-transition: var(--transition-effects);
    -o-transition: var(--transition-effects);
}

main {
    flex-grow: 1;
    margin-top: 102px;
}

.colum-12 {
    width: 100%-1px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    padding: 0px 20px 0px 20px;
    /* border: 1px dashed red; */
}

article {
    width: 100%;
    height: 570px;
    border: 1px solid blue;
}

.preguntas {
    grid-column: 2/7;
    height: 244px;
    margin-top: 220px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid red;
}

.preguntas-cont {
    width: 100%;
    height: 40px;
    /* WShades-500 */
    background-color: var(--WHCV_500);
    /* Primary-500 */
    border: 1px solid #1B396A;
    box-sizing: border-box;
    border-radius: 8px;
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 4px 8px 4px 16px;
    cursor: pointer;
}

.pregunta-2 {
    height: 52px;
}

.preguntas-cont sub {
    /* Subtitle 1 */
    width: 499px;
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    /* BShades-500 */
    color: var(--BCV_500);
}

.none-icon {
    display: none;
}

.respuestas {
    width: 100%;
    height: auto;
    padding: 8px 16px 24px;
    /* Primary-200 */
    background-color: var(--PCV_200);
    /* Info-500 */
    border: 2px solid #1550AF;
    box-sizing: border-box;
    border-radius: 8px;
    display: none;
    transition: all .10s;
}

.respuestas p {
    /* Body 1 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #000000;
}