.sol {
    display: none;
}


/* Main */

.contenido {
    width: 100%;
    height: 832px;
    /* border: 1px solid red; */
}

.preguntas {
    grid-column: 2/7;
    height: 244px;
    margin-top: 60px;
    /* border: 1px solid red; */
}

.info-ayuda {
    grid-column: 8/13;
    height: 826px;
    /* border: 1px dashed green; */
    margin-top: -160px;
}

.user-manual {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    width: 454px;
    height: 96px;
    margin-left: 69px;
    margin-top: 159px;
    /* Secondary-500 */
    background: var(--SCV_500);
    border-radius: 16px;
}

.content-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*  */
    width: 475px;
    height: 268px;
    margin-top: 154px;
    margin-left: 58px;
    /* border: 1px dashed red; */
}

.frame5 {
    background-color: var(--PCV_500);
    width: 100%;
    height: 164px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.frame5 h5 {
    /* H5 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 33px;
    /* WShades-500 */
    color: var(--WHCV_500);
}

.icon-content {
    display: flex;
    justify-content: space-between;
    /*  */
    height: 2rem;
    width: 300px;
    /* border: 1px dashed blue; */
}

.accordion {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px solid #0D3069; */
    width: 100%;
    height: 100%;
}

.conten-question {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 4px 8px 4px 16px;
    /*  */
    border: 1px solid rgba(27, 57, 106, 1);
    background-color: var(--WHCV_500);
    box-sizing: border-box;
    border-radius: 8px;
}

.accordion-link {
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    /* BShades-500 */
    color: #141927;
}

.remove-io {
    display: none;
}

.answer p {
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: var(--BCV_500);
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
    -webkit-transition: max-height 650ms;
    -moz-transition: max-height 650ms;
    -ms-transition: max-height 650ms;
    -o-transition: max-height 650ms;
}

.accordion-item:target .answer {
    padding: 8px 16px 24px;
    margin-top: 8px;
    margin-bottom: 28px;
    max-height: 152px;
    background: #A4B0C3;
    /* Info-500 */
    border: 2px solid #1550AF;
    box-sizing: border-box;
    border-radius: 8px;
}

.accordion-item {
    margin-top: 28px;
    margin-bottom: 28px;
}

.accordion-item:target .conten-question .add-io {
    display: none;
}

.accordion-item:target .conten-question .remove-io {
    display: block;
}

h5 a {
    /* H5 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    /* BShades-500 */
    color: #141927;
}

.tama {
    width: 3rem;
    height: 3rem;
}


/* -----------Dark Mode------------- */

.content-contact>.dark-help {
    background-color: var(--PCV_200);
}

.content-contact div h5.dark-h5 {
    color: var(--BCV_500);
}

.dark-question {
    background-color: var(--BCV_400);
    border: 1px solid var(--PCV_200);
}