@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}


/**************** Custom Properties *******************/

:root {
    /*Palete Colors*/
    /*Primary Color Variants*/
    --PCV_700: #102240;
    --PCV_500: #1B396A;
    --PCV_200: #A4B0C3;
    /*Secondary Color Variants*/
    --SCV_700: #916F09;
    --SCV_500: #F2B90F;
    --SCV_200: #FAE39F;
    /*Tertiary Color Variants*/
    --TCV_700: #046531;
    --TCV_500: #06A852;
    --TCV_200: #9BDCBA;
    /*Success Color Variants */
    --SUCV_700: #106732;
    --SUCV_500: #1AAC54;
    --SUCV_200: #A3DEBB;
    /*Warning Color Variants*/
    --WCV_700: #685B04;
    --WCV_500: #AD9706;
    --WCV_200: #DED59B;
    /*Error Color Variants*/
    --ECV_700: #5C0B29;
    --ECV_500: #991344;
    --ECV_200: #D6A1B4;
    /*Info Color Variants*/
    --ICV_700: #0D3069;
    --ICV_500: #1550AF;
    --ICV_200: #A1B9DF;
    /*Gray Color Variants*/
    --GCV_900: #616569;
    --GCV_700: #92979D;
    --GCV_500: #C2C9D1;
    --GCV_200: #E1E4E8;
    /*Black Colors Variants*/
    --BCV_700: #0C0F17;
    --BCV_500: #141927;
    --BCV_200: #A1A3A9;
    /*White Color Variants*/
    --WHCV_700: #959595;
    --WHCV_500: #F9F9F9;
    --WHCV_200: #FDFDFD;
    --font_headlines: 'Open Sans', sans-serif;
    --font_body: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h5 a {
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    color: var(--BCV_500);
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-decoration: none;
}

main {
    width: 100%;
    height: 800px;
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    border: 1px dashed blue;
}

.slider-l {
    grid-column: 1/6;
    height: 500px;
    background-color: var(--BCV_500);
    border-radius: 16px;
    display: flex;
    flex-wrap: nowrap;
    /* position: relative; */
}

.slider-r {
    grid-column: 8/13;
    height: 500px;
    background-color: var(--BCV_500);
    border-radius: 16px;
    display: flex;
    flex-wrap: nowrap;
}

.slider-l .card-main,
.slider-r .card-main {
    width: 262px;
    height: 400px;
    /* margin: 50px 155px 50px 155px; */
    margin: 50px 135.4585px 50px 135.4585px;
    background-color: var(--WHCV_500);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    /* opacity: 0.6; */
    position: absolute;
    transform: translateX(0px) scale(1);
    z-index: 99;
    transition: all .5s;
}

.bg {
    background-color: var(--PCV_200);
    width: 262px;
    height: 240px;
    border-radius: 16px 16px 0px 0px;
    -webkit-border-radius: 16px 16px 0px 0px;
    -moz-border-radius: 16px 16px 0px 0px;
    -ms-border-radius: 16px 16px 0px 0px;
    -o-border-radius: 16px 16px 0px 0px;
}

.bg img {
    margin: 8px 40px 8px 40px;
}

.info-doc {
    margin: 0.5rem 1.625rem 1rem 1.625rem;
    width: 13.125rem;
    height: 8.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slider-card-cont {
    width: 13.125rem;
    height: 2.5rem;
    flex-wrap: nowrap;
}

.slider-card-cont sub {
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.375rem;
    /*  */
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    /*  */
    color: var(--BCV_700);
}

.slider-card-cont #caption {
    background-color: var(--SCV_500);
    color: var(--SCV_500);
    font-size: 4rem;
    font-family: var(--font_body);
}

.date,
.type {
    width: 6.25rem;
}

.flex2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

table caption {
    background-color: var(--SCV_500);
    font-family: var(--font_body);
    color: var(--BCV_700);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    /*  */
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    max-width: min-content;
}

table td {
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.25;
    /*  */
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    /*  */
    color: var(--BCV_700);
}


/* Disable */

.slider-l .card-main-disable-right,
.slider-r .card-main-disable-right {
    width: 200.71px;
    height: 306.42px;
    margin-top: 97px;
    background-color: var(--WHCV_500);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    opacity: 0.6;
    /* margin-left: 90px; */
    z-index: 9;
    /* position: absolute; */
    transform: translateX(90px);
    transition: all .5s;
}

.slider-l .card-main-disable-left,
.slider-r .card-main-disable-left {
    width: 200.71px;
    height: 306.42px;
    margin-left: 20px;
    margin-top: 97px;
    background-color: var(--WHCV_500);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    opacity: 0.6;
    z-index: 9;
    transform: translateX(-0px);
    transition: all .5s;
}

.bg-disable {
    background-color: var(--PCV_200);
    width: 200.71px;
    height: 183.85px;
    left: 0px;
    top: 0px;
    border-radius: 16px 16px 0px 0px;
    -webkit-border-radius: 16px 16px 0px 0px;
    -moz-border-radius: 16px 16px 0px 0px;
    -ms-border-radius: 16px 16px 0px 0px;
    -o-border-radius: 16px 16px 0px 0px;
}

.img-disable {
    width: 139.42px;
    height: 171.6px;
    margin: 6.13px 30.64px 6.13px 30.64px;
}

.info-doc-disable {
    width: 160.87px;
    height: 104.18px;
    margin: 6.13px 19.92px 12.26px 19.92px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slider-card-cont-disable {
    width: 160.87px;
    height: 30.64px;
}

.slider-card-cont-disable sub {
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 12.2569px;
    line-height: 17px;
    /*  */
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    /*  */
    color: var(--BCV_700);
}

.date-disable,
.type-disable {
    width: 76.61px;
    height: 29.88px;
}

.table-disable caption {
    background-color: var(--SCV_500);
    font-family: var(--font_body);
    color: var(--BCV_700);
    font-style: normal;
    font-weight: normal;
    font-size: 9.19269px;
    line-height: 11px;
    display: flex;
    align-items: center;
    letter-spacing: 0.306423px;
    /**/
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    max-width: min-content;
}

.table-disable tr td {
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 12.2569px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.383029px;
    /*  */
    color: var(--BCV_700);
}


/* ------------------------------ */

.menu-float {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 232px;
    height: 171px;
    left: 1000px;
    top: 136px;
    /*  */
    background: #FDFDFD;
    /* Primary-200 */
    border: 3px solid #A4B0C3;
    box-shadow: 4px 8px 8px rgba(20, 25, 39, 0.5);
    border-radius: 16px;
    /* visibility: hidden; */
}

.img-source {
    width: 2rem;
    height: 2rem;
    margin-right: 21.3px;
}

.container-menu {
    display: flex;
    justify-content: start;
    height: 33px;
    width: 192px;
    /* border: 1px solid red; */
    margin: 20px;
}


/* hover cards */

.hover-left {
    position: absolute;
    background-color: var(--SCV_500);
    height: 4rem;
    width: 4rem;
    border-radius: 0px 16px 16px 0px;
    margin-top: 218px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.hover-right {
    position: absolute;
    background-color: var(--SCV_500);
    height: 4rem;
    width: 4rem;
    border-radius: 16px 0px 0px 16px;
    margin-top: 218px;
    z-index: 100;
    margin-left: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.hover-left:active,
.hover-right:active {
    border: 4px solid #FAE39F;
}