@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}


/**************** Custom Properties *******************/

:root {
    /*Palete Colors*/
    /*Primary Color Variants*/
    --PCV_700: #102240;
    --PCV_500: #1B396A;
    --PCV_200: #A4B0C3;
    /*Secondary Color Variants*/
    --SCV_700: #916F09;
    --SCV_500: #F2B90F;
    --SCV_200: #FAE39F;
    /*Tertiary Color Variants*/
    --TCV_700: #046531;
    --TCV_500: #06A852;
    --TCV_200: #9BDCBA;
    /*Success Color Variants */
    --SUCV_700: #106732;
    --SUCV_500: #1AAC54;
    --SUCV_200: #A3DEBB;
    /*Warning Color Variants*/
    --WCV_700: #685B04;
    --WCV_500: #AD9706;
    --WCV_200: #DED59B;
    /*Error Color Variants*/
    --ECV_700: #5C0B29;
    --ECV_500: #991344;
    --ECV_200: #D6A1B4;
    /*Info Color Variants*/
    --ICV_700: #0D3069;
    --ICV_500: #1550AF;
    --ICV_200: #A1B9DF;
    /*Gray Color Variants*/
    --GCV_900: #616569;
    --GCV_700: #92979D;
    --GCV_500: #C2C9D1;
    --GCV_200: #E1E4E8;
    /*Black Colors Variants*/
    --BCV_700: #0C0F17;
    --BCV_500: #141927;
    --BCV_200: #A1A3A9;
    /*White Color Variants*/
    --WHCV_700: #959595;
    --WHCV_500: #F9F9F9;
    --WHCV_200: #FDFDFD;
    --font_headlines: 'Open Sans', sans-serif;
    --font_body: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    /* margin-top: 102px; */
    border: 2px dashed blue;
}

.colum-12 {
    width: 100%-1px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    padding: 0px 20px 0px 20px;
    /* border: 1px dashed red; */
}


/* Cards */

.content-norma {
    grid-column: 1/13;
    height: 533px;
    margin: 60px 78px 79px 79px;
    /*  */
    display: flex;
    justify-content: space-between;
    /* border: 1px dashed black; */
}

.card-norma-item {
    width: 335px;
    height: 100%;
    border-radius: 16px;
    /*  */
    background-color: var(--WHCV_500);
    box-shadow: 4px 8px 8px rgba(27, 57, 106, 0.5);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.img-doc {
    width: 100%;
    height: 328px;
    background-color: var(--PCV_200);
    border-radius: 16px 16px 0px 0px;
    -webkit-border-radius: 16px 16px 0px 0px;
    -moz-border-radius: 16px 16px 0px 0px;
    -ms-border-radius: 16px 16px 0px 0px;
    -o-border-radius: 16px 16px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 56px;
}

.info-doc-norma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 335px;
    height: 205px;
    border-radius: 0px 0px 16px 16px;
    -webkit-border-radius: 0px 0px 16px 16px;
    -moz-border-radius: 0px 0px 16px 16px;
    -ms-border-radius: 0px 0px 16px 16px;
    -o-border-radius: 0px 0px 16px 16px;
}

.info-doc-norma h5 {
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--BCV_500);
}