@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/**************** Custom Properties *******************/

:root {
    /*Palete Colors*/
    /*Primary Color Variants*/
    --PCV_700: #102240;
    --PCV_500: #1B396A;
    --PCV_200: #A4B0C3;
    /*Secondary Color Variants*/
    --SCV_700: #916F09;
    --SCV_500: #AD9706;
    --SCV_200: #DED59B;
    /*Tertiary Color Variants*/
    --TCV_700: #046531;
    --TCV_500: #06A852;
    --TCV_200: #9BDCBA;
    /*Success Color Variants */
    --SCV_700: #106732;
    --SCV_500: #1AAC54;
    --SCV_200: #A3DEBB;
    /*Warning Color Variants*/
    --WCV_700: #685B04;
    --WCV_500: #AD9706;
    --WCV_200: #DED59B;
    /*Error Color Variants*/
    --ECV_700: #5C0B29;
    --ECV_500: #991344;
    --ECV_200: #D6A1B4;
    /*Info Color Variants*/
    --ICV_700: #0D3069;
    --ICV_500: #1550AF;
    --ICV_200: #A1B9DF;
    /*Gray Color Variants*/
    --GCV_900: #616569;
    --GCV_700: #92979D;
    --GCV_500: #C2C9D1;
    --GCV_200: #E1E4E8;
    /*Black Colors Variants*/
    --BCV_700: #0C0F17;
    --BCV_500: #141927;
    --BCV_200: #A1A3A9;
    /*White Color Variants*/
    --WCV_700: #959595;
    --WCV_500: #F9F9F9;
    --WCV_200: #FDFDFD;
    /**********Typography***********/
    /*********HeadLines************/
    /*HTML´S LINK*/
    /*
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
    */
    /*CSS*/
    --font_headlines: font-family: 'Open Sans', sans-serif;
    /************Body*************/
    /*HTML´S LINK*/
    /*
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"> 
    */
    /*CSS*/
    --font_body: font-family: 'Montserrat', sans-serif;
}